{% extends "layout.njk" %}

{% block content %}
  {% if darkMode %}
    <div>
      <h1> I see you have a dark cookie.<h1>
      <a href="/options"><button>Change cookie ?</button></a>
      <a href="/colorOptions"><button>Change the background color ?</button></a>
    </div>
  {% elif noCookie %}
    <div>
      <h1>Well, hello there, you want a cookie ?<h1>
      <a href="/options"><button>Take a cookie !</button></a>
    </div>
  {% else %}
    <div>
      <h1> I see you have a light cookie.</h1>
      <a href="/options"><button>Change cookie ?</button></a>
      <a href="/colorOptions"><button>Change the background color ?</button></a>
    </div>
  {% endif %}
{% endblock %}
