<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">

    {% if darkMode %}
      <link href="/styleDarkMode.css" rel="stylesheet">
    {% elif noCookie %}
      <link href="/styleWithoutCookie.css" rel="stylesheet">
    {% endif %}

    <style>
      {% if darkMode %}

        {% if cookies.cookieForColor === "purple" %}
          body{
            background-color: rgb(51, 0, 53)
          }
        {% elif  cookies.cookieForColor === "green" %}
          body{
            background-color: rgb(3, 31, 8);
          }
        {% endif %}

      {% elif noCookie %}

      {% else %}
        {% if cookies.cookieForColor === "purple" %}
          body{
            background-color: rgb(151, 100, 151)
          }
        {% elif  cookies.cookieForColor === "green" %}
          body{
            background-color: rgb(145, 197, 173);
          }
        {% endif %}

      {% endif %}
    </style>
  </head>
  <body>
    <header>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
    </footer>
  </body>
</html>
